.form {
  border: 2px solid #cccccc;
  border-radius: 6px;
  padding: 20px;
  width: 600px;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  margin: 10px;
}

button {
  width: fit-content;
  align-self: flex-end;
}
