.new-tweet {
  border: 2px solid #cccccc;
  border-radius: 6px;
  padding: 20px;
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  margin: 47px 0;
  max-width: 600px;
}

button {
  width: fit-content;
  align-self: flex-end;
}
