.search-input {
  height: 1rem;
  border-radius: 0.375rem;
  width: 10rem;
}

.filter-wight {
  filter: invert(99%) sepia(1%) saturate(1295%) hue-rotate(213deg)
    brightness(117%) contrast(100%);
}
