.tweet {
  align-self: center;
  color: #ffffff;
  display: flex;
  width: 600px;
  flex-direction: column;
  border: 0;
  border-radius: 6px;
  padding: 20px;
  gap: 16px;
  margin: 10px;
  word-wrap: break-word;
}

.my-tweets {
  background-color: rgba(128, 128, 128, 0.2);
}

.all-tweets {
  background-color: rgba(128, 128, 128, 0.4);
}

path {
  stroke: blue !important;
}

.like {
  filter: invert(9%) sepia(61%) saturate(3558%) hue-rotate(359deg)
    brightness(94%) contrast(99%);
}
